

.container {
  display: flex;
  justify-content: center;
}

.chip {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 30px;
  margin: 10px;
  margin-top: 50px;
  text-align: center;
  color: white;
}


#one {
  
}

#two {
  
}

#three {
  
}

